<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <link rel='icon' href="/static/favicon.ico" type="image/ico">
        {% block head %}
            <title>{% block title %}{% endblock %} - A Flask powered python site for network-tools</title>
        {% endblock %}
    </head>
    <body>
        <div id="navigation" align="center" style="width: 90% ; border-bottom: 2px solid #333 ;padding: 2px ; margin: 0px auto">
            {% block menu %}
            <div id="menu" align="center">
                <a href="/">Home</a> | <a href="/ping/">Ping</a> | <a href="/traceroute/">Traceroute</a> | <a href="/dns-lookup/">DNS-Lookup</a> | <a href="/whois/">WHOis</a> | <a href="/reverse/">Reverse DNS</a> | <a href="/country/">IP Location</a> | <a href="/nmap/">NMAP</a> | <a href="/url-status/">Site Status</a> | <a href="/encoding/">Site Encoding</a> | <a href="/email-check/">Email Test</a> | <a href="/proxy/">Proxy Test</a> | <a href="/telnet/">Telnet</a> | <a href="/port-check/">Port Test</a> | <a href="/about/">About Me</a>
            </div>
            {% endblock %}
        </div>
        <div id="content" align="center">{% block content %}{% endblock %}</div>
        <div id="footer" align="center">
            {% block footer %}
            &copy; Copyright 2012 by <a href="https://github.com/filipecifali">FilipeCifali</a>.
            {% endblock %}
        </div>
    </body>
</html>