{% extends "base.html" %}
{% block title %}Network-tool{% endblock %}

{% block content %}
{% if return_data %}
    <br>
    <div id="content" align="center" style="width: 90% ; padding: 2px ; margin: 1px auto ; background-color: #F0F0F0">
        {{ return_data }}
    </div>
{% else %}
    <br>
    <div id="content" align="center" style="width: 90% ; padding: 2px ; margin: 1px auto ; background-color: #F0F0F0">
        Hello, since no Data IN! No data OUT! Check your URL cause something smells fishy! :/
    </div>
{% endif %}
{% endblock %}